/*======================================================*/
/*  App                                                 */
/*======================================================*/
:root {
  --background-dark: rgb(24, 23, 31);
}

body {
  background-color: var(--background-dark);
}

.container {
  width: min(100% - 30px, 1080px);
  margin-inline: auto;
}

button {
  border-radius: 5px;
  height: 50px;
  line-height: 50px;
  color: #fff;
}

main {
  height: 100dvh;
}

section {
  height: 100%;
}

span {
  font-weight: 600;
}

/*======================================================*/
/*  Utility Classes                                     */
/*======================================================*/

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.center {
  place-items: center;
}

.gap-15 {
  gap: 15px;
}


/*======================================================*/
/*  Component                                           */
/*======================================================*/

.create-button {
  width: 100px;
  background-color: #088;
}

.dropdown-button {
  width: 280px;
  background-color: rgb(29 28 36);
}